@import url("https://fonts.googleapis.com/css?family=Inconsolata");

:root {
    --font-family: "Inconsolata";
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-colour-light: #ECEFF4;
    --bg-colour-dark: #2E3440;
    --primary-colour-light: #D8DEE9;
    --primary-colour-dark: #4C566A;
    --secondary-colour: #88C0D0;
    --primary-shadow: #4c566a;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

.nav-link {
    line-height: var(--line-height);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-colour-light);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--secondary-colour);
}

a:hover {
    color: var(--primary-colour-light);
}

body {
    font-family: var(--font-family);
    background-color: var(--bg-colour-dark);
}

.resume-download {
    cursor: pointer
}

button {
    background-color: #a3be8c;
    border: none;
    color: var(--bg-colour-light);
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #8fbcbb;
    transition: var(--transition);
}

nav { 
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-colour-dark);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

p {
    color: var(--primary-colour-light);
}

nav h1 {
    color: var(--primary-colour-dark);
}

nav a {
    padding: 0 0.4rem 0 0.4rem;
    color: var(--primary-colour-light);
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-colour);
    border-bottom: 2px solid var(--secondary-colour);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);

}

.burger-menu {
    color: white;
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
    appearance: none;
}

.burger-label {
    color: white;
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.summary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 80rem;
    margin: auto;
    padding: 2rem 6rem;
}

.top-img {
    height: 30rem;
    width: 60rem;
}

.top-img-div {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bio {
    width: 60rem;
    padding: 0.625rem;
    border-radius: 6px;
}

.bio h1 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

.job-container {
    display: flex;
    justify-content: space-between;
}

.job-section {
    width: 50%;
    border: 2px solid var(--primary-colour-light);
    padding: 1rem;
    background-color: #3b4252;
}

.skills {
    max-width: 60rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.skill-header {
    margin-bottom: 1rem;
}

.skills-wrapper img {
    padding: 1rem;
}

.icon {
    width: 8rem;
    height: 8rem;
}

.projects {
    background-color: #3b4252;
    padding: 32px 0;
    margin-top: 2rem;
}

.project-png {
    width: 65%;
    height: 60%;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-title {
    text-align: center; 
    margin-bottom: 1rem;
}

.project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}

.project-container p {
    padding: 0.4rem;
}

.project-title {
    margin-bottom: var(--bottom-margin);
}

.project-details {
    margin-bottom: var(--bottom-margin);
}

input:checked ~ ul {
    transform: translateX(0);
}

footer {
    background-color: var(--bg-colour-dark);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem;
}

@media screen and (max-width: 800px) {
    nav {
        padding: 1.5rem 1rem;
    }
    nav ul {
        padding-bottom: 1.25rem;
        position: fixed;
        background-color: var(--bg-colour-dark);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(-120%);
        transition: transform 0.2s ease-in;
    }
    nav ul li: {
        margin: 8px;
    }
    .burger-label {
        display: block;
    }
    .summary {
        padding: 2rem;
    }
    .projects-container {
        display: grid;
    }
}

